[MASTER]

disable=missing-docstring,locally-enabled,locally-disabled,duplicate-code

[BASIC]

good-names=i,j,k,ex,Run,_,e
bad-names=foo,bar,baz,toto,tutu,tata

method-rgx=(test_)?[a-z_][a-z0-9_]{2,40}$

[FORMAT]

max-line-length=100

no-space-check=trailing-comma,dict-separator

indent-string='  '

indent-after-paren=2

[TYPECHECK]

generated-members=requests.*

[REPORTS]

output-format=colorized